body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
    margin: 50px 0;
}

form {
    display: flex;
    justify-content: center;
}

button {
    padding: 1rem 2rem;
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #ff1a1a;
}

a {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #007BFF;
}

a:hover {
    text-decoration: underline;
}
